body{

    background-repeat: no-repeat;
    background-image: linear-gradient(#24c554,  #4d8158);
}
footer{

    background-color: rgba(0, 0, 0, 0.589);
    text-align: center;
    margin-top: 60px;
    padding-top: 45px;
    padding-bottom:45px;

}
footer p{

    font-size: 20px;
    color: white;
}
